@model Contact
@{
    string title = "Contact " + ViewBag.Action;
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="DetailEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="container ">
        <div class="row form-group border p-2 pt-3  ">
            <div class="col-sm">
                <b asp-for="FirstName">First Name</b>
            </div>
            <div class="col-sm">
                <label asp-for="LastName">@Model.FirstName</label>
            </div>
        </div>

        <div class="row form-group border p-2 pt-3  ">
            <div class="col-sm">
                <b asp-for="LastName">Last Name</b>
            </div>
            <div class="col-sm">
                <label asp-for="LastName">@Model.LastName</label>
            </div>
        </div>

        <div class="row form-group border p-2 pt-3 ">
            <div class="col-sm">
                <b asp-for="Phone">Phone</b>
            </div>
            <div class="col-sm">
                <label asp-for="Phone">@Model.Phone</label>
            </div>
        </div>

        

        <div class="row form-group border p-2 pt-3 ">
            <div class="col-sm">
                <b asp-for="Email">Email</b>
            </div>
            <div class="col-sm">
                <label asp-for="Email">@Model.Email</label>
            </div>
        </div>

        <div class="row form-group border p-2 pt-3 ">
            <div class="col-sm">
                <b asp-for="CategoryId">Category</b>
            </div>
            <div class="col-sm">
                <label asp-for="CategoryId">@ViewBag.Category</label>
            </div>
        </div>

    </div>



    <div class="m-4">
        <input type="hidden" asp-for="ContactId" />
        <button type="submit" class="btn btn-dark">Edit</button>

        <a asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" 
            class="btn btn-dark">Delete</a>
        <a asp-controller="Home" asp-action="Index" 
            class="btn btn-dark">Cancel</a>
    </div>
</form>
