@model List<Contact>
@{
    ViewBag.Title = "My Contacts";
}

<h2>Contact List</h2>

<a asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Contact in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Contact" asp-action="Detail"
                        asp-route-id="@Contact.ContactId"
                        asp-route-slug="@Contact.Slug">@Contact.FirstName</a>
                </td>
                <td>
                    <a asp-controller="Contact" asp-action="Detail"
                        asp-route-id="@Contact.ContactId"
                        asp-route-slug="@Contact.Slug">@Contact.LastName</a>
                </td>
                <td>@Contact.Phone</td>
                <td>@Contact.Email</td>
                <td>@Contact.Category.Name</td>
            </tr>
        }
    </tbody>
</table>